/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin:0;
    background: #8ecbe2;
    color: #fff;
    text-shadow:1px 1px 1px rgba(0,0,0,0.5);
    padding: 0.5em;
}
.browsehappy a{
    color:#ffe282;
    text-decoration:underline;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a{
	color:inherit;
	text-decoration:none;
}
ul{
	margin:0;
    list-style:none;
	padding:0;
}
h1,h2,h3,h4,h5{
    margin:0;
    font-family: 'Vollkorn', serif;
    font-weight: normal;
    font-style: italic;
}
footer{
    background: #000;
    padding: 10px 0 0;
    text-align: center;
    border-top: solid 6px rgb(213, 43, 30);
}
footer h2{
    color: #fff;
}
footer li{
    font-size: 0.8em;
    color: #fff;
}
footer section{
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 0 8px;
    width: 31%;
}
header{
    width: 100%;
    border-bottom: 6px solid #fff;
    background: #000;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media(min-width:1280px) and (max-width:1360px){}
@media(min-width:1024px) and (max-width:1279px){}
@media(min-width:980px) and (max-width:1023px){}
@media(min-width:800px) and (max-width:979px){}
@media(min-width:768px) and (max-width:799px){}
@media(min-width:480px) and (max-width:767px){}
@media(min-width:360px) and (max-width:479px){}
@media(min-width:240px) and (max-width:359px){}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
#logo {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    padding: 0 10px;
    margin: 8px 0;
}

#menu{
    color: #fff;
    font-family: 'Courgette', cursive;
    float: right;
    margin: 35px 0 0;
    display: inline-block;
}
#menu li{
    display: inline-block;
    padding: 6px 20px;
}
#menu a{
    display: block;
    transition: all ease-out 0.3s;
}
#menu a:hover{
    color: rgb(213, 43, 30);
}

#slider {
    border-bottom: solid 6px #000;
    background: rgb(213, 43, 30);
    height: 300px;
}
#slider3 {
    background: rgb(213, 43, 30);
    height: 200px;
    color: #fff;
}
#slider2 {
    background: rgb(213, 43, 30);
    height:280px;
}

.cont {
    width: 80%;
    margin: 0px auto 0px;
}

#le {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
#le h1{
    font-size: 1.9em;
}
#le p{
    font-size: 0.9em;
}

#ri {
    display: inline-block;
    width: 45%;
    margin-left: 3%;
    vertical-align: top;
}
#ri div{
    margin-bottom: 10px;
}

.imag {
    width: 130px;
    display: inline-block;
    background: #efefef;
}
.imag img{
    width: 100%;
}

.info {
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
    width: 63%;
}
.info h2{
    font-size: 1.3em;
    color: rgb(213, 43, 30);
}
.info p{
    margin: 0;
    font-size: 0.8em;
}

#copy {
    background: rgb(64, 64, 64);
    margin: 0 !important;
    color: #fff;
    font-size: 0.9em;
    padding: 10px 0;
    width: 100%;
}

#centro {
    margin: 60px auto 40px;
}
#centrop {
    text-align: center;
    margin: 60px auto 40px;
}

#cop {
    text-align: left;
    margin: 0 auto;
}

#mapa {
    border: none;
    overflow: hidden;
}

#fot {
    margin: 40px auto 60px;
}

#formulario input, #formulario textarea{
    display: block;
    margin-bottom: 10px;
    width: 400px;
    padding: 4px;
    border: red 1px solid;
}
#formulario textarea{
    height: 150px;
}
.boton{
    display: inline-block;
    border: none !important;
    padding: 4px 20px !important;
    font-size: 0.9em;
    color: #fff;
    width: auto !important;
    background: #000;
}

#contacto {
    margin: -150px auto 150px;
}
#contacto h2{
    font-size: 1.9em;
    color: #fff;
    margin-bottom: 15px;
}

#formulario {
    display: inline-block;
}

#soc {
    display: inline-block;
    vertical-align: top;
    margin: -100px 0 0 60px;;
}

.prod {
    display: inline-block;
    margin:0 10px 10px 0;
    vertical-align: top;
    position: relative;
    background: #efefef;
    width: 220px;
    height: 220px;
}
.prod:hover > .capa{
    opacity: 1;
}
.prod img{
    position: absolute;
    margin: auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.capa {
    transition: all ease-out 0.3s;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0;
    background: rgba(213, 43, 30,0.6);
}
.capa h3{
    text-align: center;
    color: #fff;
    margin: 90px auto;
}

#espacio {
    height: 60px;
}

.dist {
    margin: 0 10px 10px 0;
    width: 300px;
    height: 240px;
    background: #efefef;
    display: inline-block;
    vertical-align: top;
    background: #efefef;
}

.foto {
    background: #e4e4e4;
    width: 250px;
    margin: 20px auto;
    height: 150px;
}
